@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Ribeye+Marrow&family=Zen+Loop&display=swap");

* {
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 600;
}

.navigation {
  font-family: "Ribeye Marrow", cursive;
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #9FA8EB;
}